body{ 
    margin: 10px;
    padding: 10px;
    border: 10px;    
    background-color: rgb(116, 211, 116);
    color: rgb(22, 90, 39);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    }

    .borda{
        border-color: rgb(4, 78, 4);
        border-style: solid;
        padding: 50px;
        padding-right: 50px;
        display: flex;
    }