body{ 
    margin: 10px;
    padding: 10px;
    border: 15px;    
    background-color: rgb(116, 211, 116);
    color: rgb(12, 63, 25);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    }
    

    .borda{
        display: flex;
    }

    .um{
        border-color: rgb(4, 78, 4);
        border-style: solid ;
        padding: 10px;
        padding-right: 50px;
        padding-bottom: 50px;
        border-width: 5px;
        border-radius: 30px;
        margin: 10px;
    }

    .dois{
        border-color: rgb(4, 78, 4);
        border-style: solid ;
        padding: 50px;
        padding-right: 50px;
        border-width: 5px;
        border-radius: 30px;
        margin: 10px;
    }

    .tress{
        border-color: rgb(4, 78, 4);
        border-style: solid ;
        padding: 50px;
        padding-right: 50px;
        border-width: 5px;
        border-radius: 30px;
        margin: 10px;
    }

    .cinco{
        border-color: rgb(4, 78, 4);
        border-style: solid ;
        padding: 50px;
        padding-right: 50px;
        border-width: 5px;
        border-radius: 30px;
        margin: 10px;
        display: flex;
    }

    .tres{
        border-color: rgb(4, 78, 4);
        border-style: solid ;
        background-color: rgb(221, 221, 221);
        padding: 50px;
        padding-right: 50px;
        border-width: 5px;
        border-radius: 30px;
        margin: 10px;
    }

    .quatro{
        display: flex;
    }

    img{
        width: 510px;
        height: 300px;
        margin: 5px;
    }

    .im{
        width: 100px;
        height: 100px;
        margin: 5px;
    }

    #contatos{
        position:fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        align-items: center;
        background-color:rgb(51, 97, 51);
        border-radius: 10px;
        opacity: 0.7;
        color: black;
    }
    
    #formulario{
        padding: 20px;
        background-color:rgb(105, 163, 105);
        text-align: left;
        color: rgb(253, 253, 253);
    }